{% extends "base/index.html" %}

{% block title %}snippet detail{% endblock title %}

{% block body %}
<main class="l_layout_snippet snippet_detail_page">
    <div class="title_area">
        <h1 class="title_22 fw_500">スニペット詳細</h1>
        {% with url="snippet/edit" args=snippet.id text="スニペット編集" class="snippet_edit_button" %}
            {% include "components/link/button_link.html" %}
        {% endwith %}
        {% with url="snippet/delete" args=snippet.id text="スニペット削除" class="snippet_delete_button" %}
            {% include "components/link/button_link.html" %}
        {% endwith %}
    </div>
    <div class="snippet_items">
        <p class="snippet_title">タイトル：{{snippet.title}}</p>
        <p class="snippet_text">説明：{{snippet.description}}</p>
        <p class="snippet_sub_text">
            <span class="snippet_text">ID：{{snippet.id}}</span>
            <span class="snippet_date">作成日：{{snippet.created_at}}</span>
            <span class="snippet_date">更新日：{{snippet.updated_at}}</span>
        </p>
        <p class="snippet_text">スニペット：</p>
        <pre class="snippet_code">{{snippet.code}}</pre>
    </div>
    <div class="to_list_button_wrapper">
        {% with url="snippet/index" text="一覧に戻る" %}
            {% include "components/link/button_link.html" %}
        {% endwith %}
    </div>
</main>
{% endblock body %}

