{% extends "base/index.html" %}

{% block title %}snippet detail{% endblock title %}

{% block body %}
<ul>
    <li>{{snippet.id}}</li>
    <li>{{snippet.title}}</li>
    <li>{{snippet.description}}</li>
    <li>{{snippet.code}}</li>
    <li>{{snippet.created_at}}</li>
    <li>{{snippet.updated_at}}</li>
</ul>
<a href={% url "snippet/edit" snippet.id %}>編集</a>
<form action="{% url "snippet/delete" snippet.id %}">
    <button type="submit">削除</button>
</form>
<a href={% url "snippet/index" %}>トップへ</a>
{% endblock body %}

