{% extends "base/index.html" %}

{% block title %}snippet list{% endblock title %}

{% block body %}
<main class="l_layout_snippet snippet_list_page">
    <div class="title_area">
        <h1 class="title_22 fw_500">スニペット一覧</h1>
        {% with url="snippet/new" text="スニペット作成" class="snippet_create_button" %}
            {% include "components/link/button_link.html" %}
        {% endwith %}
    </div>
    {% if snippet_list %}
    <div class="snippet_list">
        {% for snippet in snippet_list %}
        <a class="snippet_item" href={% url "snippet/detail" snippet.id %}>
            <p class="snippet_item_title">{{snippet.title}}</p>
            <p class="snippet_item_text">{{snippet.description}}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="no_snippet_list">スニペットがありません</p>
    {% endif %}
</main>
{% endblock body %}

