@charset 'utf-8';

.snippet_list_page {
    .title_area {
        display: flex;
    }

    .snippet_create_button {
        margin-left: auto;
    }

    .snippet_list {
        display: flex;
        flex-wrap: wrap;
        gap: 2.6rem;
        margin-top: 2.4rem;
    }

    .no_snippet_list {
        margin-top: 2.4rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .snippet_item {
        width: 26rem;
        // max-width: 26rem;
        padding: 1.6rem;
        border-radius: .8rem;
        background-color: colors(main);
    }

    .snippet_item_title {
        font-size: 1.6rem;
        font-weight: 500;
        color: colors(white_87);
        word-break: break-all;
    }

    .snippet_item_text {
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: .8rem;
        color: colors(white_87);
        word-break: break-all;
    }
}

.snippet_detail_page {
    .title_area {
        display: flex;
    }

    .snippet_edit_button {
        margin-left: auto;
    }

    .snippet_delete_button {
        margin-left: 2.4rem;
    }

    .to_list_button_wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 2.4rem;
        margin-left: auto;
    }

    .snippet_items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;
        padding: 1.6rem;
        margin-top: 2.4rem;
        border-radius: .8rem;
        color: colors(white_87);
        background-color: colors(main);
    }

    .snippet_title {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .snippet_text {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .snippet_sub_text {
        color: colors(white_60);

        span {
            font-size: 1.2rem;
        }
    }

    .snippet_date {
        margin-left: 2.4rem;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .snippet_code {
        font-size: 1.2rem;
        padding: 1.6rem;
        border-radius: .4rem;
        color: colors(black_87);
        background-color: colors(white_60);
    }
}

.snippet_edit_page {
    .snippet_items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;
        padding: 1.6rem;
        margin-top: 2.4rem;
        border-radius: .8rem;
        color: colors(white_87);
        background-color: colors(main);
    }

    .snippet_code {
        max-width: 100%;
        width: 100%;
        min-height: 40rem;
    }

    .snippet_edit_button {
        width: 100%;
        background-color: colors(main_4);
    }

    .to_list_button_wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 2.4rem;
        margin-left: auto;
    }
}

.snippet_create_page {
    .snippet_items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;
        padding: 1.6rem;
        margin-top: 2.4rem;
        border-radius: .8rem;
        color: colors(white_87);
        background-color: colors(main);
    }

    .snippet_code {
        max-width: 100%;
        width: 100%;
        min-height: 40rem;
    }

    .snippet_create_button {
        width: 100%;
        background-color: colors(main_4);
    }

    .to_list_button_wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 2.4rem;
        margin-left: auto;
    }
}