{% extends "base/index.html" %}

{% block title %}login{% endblock title %}

{% block body %}
<main class="l_layout_center login_page">
    <h1 class="title_22">ログイン</h1>
    <form class="form" action="{% url "login/check" %}" method="POST">
        {% csrf_token %}
        {% with text="メールアドレス" type="email" name="email" %}
            {% include "components/input/index.html" %}
        {% endwith %}
        {% with class="js_password_input" text="パスワード" type="password" name="password" %}
            {% include "components/input/index.html" %}
        {% endwith %}
        <label for="password_show" class="password_show">
            <input id="password_show" class="js_password_switch_checkbox password_show_checkbox" type="checkbox">パスワードを表示する
        </label>
        {% with class="js_login_check_button" type="button" text="ログイン" %}
            {% include "components/button/index.html" %}
        {% endwith %}
    </form>
</main>
{% endblock body %}