{% extends "base/index.html" %}

{% block title %}auth check{% endblock title %}

{% block body %}
<form class="js_auth_send_form" action="{% url "signup/auth/send" %}" method="POST">
    {% csrf_token %}
    <h1>認証コード入力</h1>
    <p>メールアドレス{{email}}に認証コードを送信しました。<br>
        メールに記載の認証コードを入力してください。
    </p>
    {% with text="認証コード" type="text" name="auth_code" %}
        {% include "components/input/index.html" %}
    {% endwith %}
    {% with class="js_auth_send_button" type="button" text="認証コードを送信する" %}
        {% include "components/button/index.html" %}
    {% endwith %}
</form>
{% endblock body %}