<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>認証コード入力</h1>
    <form class="js_auth_send_form" action="{% url "signup/auth/send" %}" method="POST">
        {% csrf_token %}
        <p>メールアドレス{{email}}に認証コードを送信しました。<br>
            メールに記載の認証コードを入力してください。
        </p>

        <input type="text" name="auth_code">
        <button class="js_auth_send_button" type="button">認証コードを登録</button>
    </form>
    <script src="{% static "bundle.js" %}"></script>
</body>
</html>