<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>会員登録</h1>
    <form class="js_email_send_form" action="{% url 'signup/email/send' %}" method="POST">
        {% csrf_token %}
        <p>メールアドレスを送信</p>
        <p>入力されたメールアドレス当てに認証コードが送られます。</p>
        <input type="email" name="email">
        <button type="button" class="js_email_send">送信</button>
    </form>
    <script src="{% static "bundle.js" %}"></script>
</body>
</html>