{% extends "base/index.html" %}

{% block title %}email check{% endblock title %}

{% block body %}
<form class="js_email_send_form" action="{% url 'signup/email/send' %}" method="POST">
    {% csrf_token %}
    <h1>会員登録</h1>
    <p>メールを送信</p>
    <p>入力されたメールアドレス当てに認証コードが送られます。</p>
    {% with text="メールアドレス" type="email" name="email" %}
        {% include "components/input/index.html" %}
    {% endwith %}
    {% with class="js_email_send" type="button" text="登録して認証コードを送信" %}
        {% include "components/button/index.html" %}
    {% endwith %}
</form>
{% endblock body %}