{% extends "base/index.html" %}

{% block title %}signup new{% endblock title %}

{% block body %}
<form class="js_signup_create_form" action="{% url "signup/create" %}" method="POST">
    {% csrf_token %}
    <h1>会員登録</h1>
    <p>ユーザー情報を登録</p>
    {% with text="お名前" type="text" name="name" %}
        {% include "components/input/index.html" %}
    {% endwith %}
    {% with text="パスワード" type="password" name="password" %}
        {% include "components/input/index.html" %}
    {% endwith %}
    {% with class="js_signup_create_button" type="button" text="ユーザー情報を登録" %}
        {% include "components/button/index.html" %}
    {% endwith %}
</form>
{% endblock body %}